label {
  font-size: small;
  color: midnightblue;
  text-align: left;
}

.botones {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  bottom:-10px ;
}
.form-container {
  background-color: rgb(170, 208, 247);
  border-style: solid;
  border-color: rgb(7, 4, 180);
  width: 99.9%;
  height: 100%;
}

.falsologo {
  opacity: 100%;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background: #0d6efd;
  width: 100%;
}

.portada-fluid {
  font-size: 1.1rem;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  color: rgb(255, 255, 255);
  text-align: center;
}
#logoAP {
  width: 80px;
  height: 40px;
}
input {
  height: 30px;
  font-size: 1em;
}

