<form [formGroup]="form" (ngSubmit)="onUpdate($event)" class="cuerpo_del_modal" *ngIf="educacion" >
<div class="form-container">
  <div class="header">
    <div class="logo">
      <img src="../../../assets/logoAP.png" id="logoAP" />
    </div>
    <div>
      <h2 mat-dialog-title class="portada-fluid">Editar Educación</h2>
    </div>
    <div class="falsologo">
      <button
        
        class="cerrar"
        mat-mini-fab
        color="none"
        mat-dialog-close
        aria-label="cerrar"
      >
        X
      </button>
    </div>
  </div>

  <mat-dialog-content >
    
      <div>
        <!-- <div class="form-outline mb-6"> -->
          <label for="nombreE">Nombre de la Institución</label>
          <input
            type="text"
            class="form-control form-control-lg input-sm"
            id="nombreE"
            name="nombreE"
            required
            formControlName="nombreE"
            [(ngModel)]="educacion.nombreE"
            [ngClass]="{
              'is-invalid': submitted && f['nombreE'].errors,
              'is-valid': !NombreE?.errors && NombreE?.touched
            }"
          />
          <div
            *ngIf="f['nombreE'].errors && submitted"
            class="invalid-feedback"
          >
            <div
              *ngIf="f['nombreE'].errors['required']"
              class="alert alert-danger"
            >
              El nombre es requerido
            </div>
          </div>
        <!-- </div> -->

        <!-- <div class="form-outline mb-6"> -->
          <label for="descripcionE">Título obtenido</label>
          <input
            type="text"
            class="form-control form-control-lg"
            id="descripcionE"
            name="descripcionE"
            formControlName="descripcionE"
            [(ngModel)]="educacion.descripcionE"
            required
            [ngClass]="{
              'is-invalid': submitted && f['descripcionE'].errors,
              'is-valid': !DescripcionE?.errors && DescripcionE?.touched
            }"
          />
          <div
            *ngIf="f['descripcionE'].errors && submitted"
            class="invalid-feedback"
          >
            <div
              *ngIf="DescripcionE?.hasError('required')"
              class="alert alert-danger"
            >
              El dato de tarea es requerido
            </div>
            <div
              *ngIf="DescripcionE?.hasError('minlength')"
              class="alert alert-danger"
            >
              El dato de título debe tener al menos cuatro caracteres
            </div>
          </div>
        <!-- </div>
        <div class="form-outline mb-6"> -->
          <label for="inicio" class="form-label">Año de Inicio</label>
          <input
            type="text"
            class="form-control form-control-lg col-xs-4"
            id="inicio"
            name="inicio"
            formControlName="inicio"
            [(ngModel)]="educacion.inicio"
            required
            [ngClass]="{
              'is-invalid': submitted && f['inicio'].errors,
              'is-valid': !Inicio?.errors && Inicio?.touched
            }"
          />
          <div *ngIf="f['inicio'].errors && submitted" class="invalid-feedback">
            <div
              *ngIf="Inicio?.hasError('required')"
              class="alert alert-danger"
            >
              El año de inicio es requerido
            </div>
            <div *ngIf="Inicio?.hasError('min')" class="alert alert-danger">
              El año de inicio debe ser mayor a 1900
            </div>
            <div *ngIf="Inicio?.hasError('max')" class="alert alert-danger">
              El año de inicio debe ser menor a 2024
            </div>
          </div>
        <!-- </div>

        <div class="form-outline mb-6"> -->
          <label for="fin" class="form-label">Año de Finalización</label>
          <input
            type="text"
            class="form-control form-control-lg"
            id="fin"
            name="fin"
            formControlName="fin"
            [(ngModel)]="educacion.fin"
            required
            [ngClass]="{
              'is-invalid': submitted && f['fin'].errors,
              'is-valid': !Fin?.errors && Fin?.touched
            }"
          />
          <div *ngIf="f['fin'].errors && submitted" class="invalid-feedback">
            <div *ngIf="Fin?.hasError('required')" class="alert alert-danger">
              El año de finalizacion es requerido
            </div>
            <div *ngIf="Fin?.hasError('min')" class="alert alert-danger">
              El año de finalizacion debe ser mayor a 1900
            </div>
            <div *ngIf="Fin?.hasError('max')" class="alert alert-danger">
              El año de finalizacion debe ser menor a 2024
            </div>
          </div>
          
        <!-- </div>
        

        <div class="form-outline mb-6"> -->
          <!-- <button type="submit" class="btn btn-primary">Actualizar</button> 

            <button class="btn btn-primary" (click)="onReset()">Limpiar</button>-->
          <div class="botones" mat-dialog-actions>
            <button
              type="submit"
              class="btn btn-primary btn-sm"
              mat-raised-button
              color="primary"
            >
              Guardar
            </button>

            

            <button
              class="btn btn-primary btn-sm"
              mat-raised-button
              mat-dialog-close
              aria-label="cerrar"
              color="warn"
            >
              Cerrar
            </button>
          </div>
        <!-- </div> -->
      </div>
    
  </mat-dialog-content>
</div>
</form>