.gradient-custom {
  /* fallback for old browsers */
  /* background: #6a11cb; */
  
  /* Chrome 10-25, Safari 5.1-6 */
   background: -webkit-linear-gradient(to right, rgb(170, 208, 247), rgb(77, 140, 248)); 
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   background: linear-gradient(to right, rgb(170, 208, 247), rgb(77, 140, 248)) 
   } 

.row {
  padding: 20px;
 
    border-style: none;
}

td{
  
  border-style:none;
  /* border-color: #044cb8; */
}
div {
  /*background-color: rgb(198, 213, 228);*/
  /* background-color: rgb(170, 208, 247); */
  
}

h2,
h3 {
  display: inline;
  color: #0459da;
}

.encabezado {
  display: flex;
}



@media (min-width: 576px) {
  .fila {
    display: flex;
    /* align-items por defecto tiene el valor `stretch` */
    align-items: flex-start;
  }
  .eduNombre {
    width: 25%;
    color:rgb(47, 3, 78)
  }
  

  .eduPeriodo {
    width: 15%;
    color:rgb(47, 3, 78);
  }

  
  .separador {
    width: 5%;
  }

  
  .eduDescripcion {
    width: 45%;
    color:rgb(47, 3, 78);
  
  }


  .eduEdit {
    width: 5%;
  }

 
  .eduBorrar {
    width: 5%;
  }

}

@media (max-width: 575px) {
    .fila {
        display:flex;
        /* align-items por defecto tiene el valor `stretch` */
        align-items:flex-start;
      }
      .eduNombre {
        width: 6rem;
        color:rgb(47, 3, 78)
      }
    
      .eduPeriodo {
        width: 2rem;
        color:rgb(47, 3, 78)
      }
    
      .separador {
        width: 2rem;
      }
      .eduDescripcion {
        width: 13rem;
        height: auto;
        color:rgb(47, 3, 78)

      }
    
      .eduEdit {
        width: 3rem;
      }
    
      .eduBorrar {
        width: 3rem;
      }
}
