<section class="gradient-custom">
<div class="row">
  <div class="encabezado">
    <h2>Estudios Cursados</h2>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <button
        type="button"
        class="btn btn-primary"
        routerLink="/nuevaedu"
        *ngIf="isLogged"
      >
        <i class="bi bi-plus-lg"></i>
      </button>
    </div>
  </div>

  <div class="col-sm-1 col-md-1 col-lg-1"></div>
  <div class="col-sm-11 col-md-11 col-lg-11">
    <table class="table">
      <tbody>
       
        <tr *ngFor="let Educacion of educacion" >
          <td class="eduNombre">
            <h5>{{ Educacion.nombreE }}</h5>
          </td>
          <td class="eduPeriodo">
            <h6>{{ Educacion.inicio }} - {{ Educacion.fin }}</h6>
          </td>
          <td class="separador"></td>
          <td class="eduDescripcion">{{ Educacion.descripcionE }}</td>
          <td *ngIf="isLogged" class="eduEdit">
            <button
              class="btn btn-light"
              routerLink="/editedu/{{ Educacion.id }}"
            >
              <i class="bi bi-pencil-fill"></i>
            </button>
          </td>
          <td *ngIf="isLogged" class="eduBorrar">
            <button class="btn btn-danger" (click)="delete(Educacion.id)">
              <i class="bi bi-trash-fill"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</section>
