<div class="form-container">
  <!-- <div class="card-header">  -->
  <div class="header">
    <div class="logo">
      <img src="../../../assets/logoAP.png" id="logoAP" />
    </div>
    <div>
      <h2 mat-dialog-title class="portada-fluid">Alta de Título</h2>
    </div>
    <div class="falsologo">
      <!-- mat-icon-button -->
      <button
        type="submit"
        class="cerrar"
        mat-mini-fab
        color="none"
        mat-dialog-close
        aria-label="cerrar"
      >
        X
      </button>
    </div>
  </div>
  
  <mat-dialog-content>
    <form [formGroup]="form" (ngSubmit)="onCreate($event)">
      <div>
        <div class="form-outline mb-6">
          <label for="nombreE">Nombre de la Institución</label>
          <input
            type="text"
            class="form-control input-sm"
            id="nombreE"
            name="nombreE"
            formControlName="nombreE"
            required
            [ngClass]="{
              'is-invalid': submitted && f['nombreE'].errors,
              'is-valid': !NombreE?.errors && NombreE?.touched
            }"
          />
          <div
            *ngIf="f['nombreE'].errors && submitted"
            class="invalid-feedback"
          >
            <div
              *ngIf="f['nombreE'].errors['required']"
              class="alert alert-danger"
            >
              El dato es requerido
            </div>
          </div>
        </div>

        <div class="form-outline mb-6">
          <label for="descripcionE">Título obtenido</label>
          <input
            type="text"
            class="form-control col-xs-4"
            id="descripcionE"
            name="descripcionE"
            formControlName="descripcionE"
            required
            [ngClass]="{
              'is-invalid': submitted && f['descripcionE'].errors,
              'is-valid': !DescripcionE?.errors && DescripcionE?.touched
            }"
          />
          <div
            *ngIf="f['descripcionE'].errors && submitted"
            class="invalid-feedback"
          >
            <div
              *ngIf="DescripcionE?.hasError('required')"
              class="alert alert-danger"
            >
              El dato es requerido
            </div>
            <div
              *ngIf="DescripcionE?.hasError('minlength')"
              class="alert alert-danger"
            >
              El dato debe tener al menos cuatro caracteres
            </div>
          </div>
        </div>
        <!-- <div class="form-outline mb-6"> -->
        <div class="form-outline mb-6">
          <label for="inicio" class="form-label">Año de Inicio</label>

          <input
            type="text"
            class="form-control col-xs-4"
            id="inicio"
            name="inicio"
            formControlName="inicio"
            required
            [ngClass]="{
              'is-invalid': submitted && f['inicio'].errors,
              'is-valid': !Inicio?.errors && Inicio?.touched
            }"
          />

          <div *ngIf="f['inicio'].errors && submitted" class="invalid-feedback">
            <div
              *ngIf="Inicio?.hasError('required')"
              class="alert alert-danger"
            >
              El año de inicio es requerido
            </div>
            <div *ngIf="Inicio?.hasError('min')" class="alert alert-danger">
              El año de inicio debe ser mayor a 1900
            </div>
            <div *ngIf="Inicio?.hasError('max')" class="alert alert-danger">
              El año de inicio debe ser menor a 2024
            </div>
          </div>
        </div>

        <div class="form-outline mb-6">
          <label for="fin" class="form-label">Año de Finalización</label>
          <input
            type="text"
            class="form-control"
            id="fin"
            name="fin"
            formControlName="fin"
            required
            [ngClass]="{
              'is-invalid': submitted && f['fin'].errors,
              'is-valid': !Fin?.errors && Fin?.touched
            }"
          />
          <div *ngIf="f['fin'].errors && submitted" class="invalid-feedback">
            <div *ngIf="Fin?.hasError('required')" class="alert alert-danger">
              El año de finalización es requerido
            </div>
            <div *ngIf="Fin?.hasError('min')" class="alert alert-danger">
              El año de finalización debe ser mayor a 1900
            </div>
            <div *ngIf="Fin?.hasError('max')" class="alert alert-danger">
              El año de finalización debe ser menor a 2024
            </div>
          </div>
        </div>

        <div><br /></div>
        <div class="form-outline mb-6">
          <div class="botones" mat-dialog-actions>
            <button
              type="submit"
              class="btn btn-primary btn-sm"
              mat-raised-button
              color="primary"
            >
              Guardar
            </button>

            <button
              class="btn btn-primary btn-sm"
              mat-raised-button
              mat-dialog-close
              aria-label="cerrar"
              color="warn"
            >
              Cerrar
            </button>
            <!-- <button
              class="btn btn-primary"
              (click)="onReset()"
              mat-raised-button
              color="warn"
            >
              Limpiar
            </button> -->
          </div>
        </div>
      </div>
    </form>
  </mat-dialog-content>
  </div>

