<div class="container py-3 h-100" *ngIf="expLab">
  <div class="row d-flex justify-content-center align-items-center h-80">
    <div class="col-12 col-md-8 col-lg-8 col-xl-6">
      <div class="card bg-primary text-white" style="border-radius: 1rem">
        <div class="card-header">
          <h3>Editar Experiencia</h3>
          <button type="submit" class="btn btn-close-white" (click)="onClose()">
            <i class="bi bi-x-lg"></i>
          </button>
        </div>

        <div class="card-block p-2 text-center">
          <form [formGroup]="form" (ngSubmit)="onUpdate($event)">
            <div>
              <div class="form-outline mb-6">
                <label for="nombreE" class="form-label"
                  >Nombre de la Empresa</label
                >
                <input
                  type="text"
                  class="form-control form-control-lg"
                  id="nombreE"
                  name="nombreE"
                  required
                  formControlName="nombreE"
                  [(ngModel)]="expLab.nombreE"
                  [ngClass]="{
                    'is-invalid': submitted && f['nombreE'].errors,
                    'is-valid': !NombreE?.errors && NombreE?.touched
                  }"
                />
                <div
                  *ngIf="f['nombreE'].errors && submitted"
                  class="invalid-feedback"
                >
                  <!-- <div *ngIf="Nombre?.errors && Nombre?.touched"> -->
                  <div
                    *ngIf="f['nombreE'].errors['required']"
                    class="alert alert-danger"
                  >
                    El nombre es requerido
                  </div>
                </div>
              </div>

              <div class="form-outline mb-6">
                <label for="descripcionE" class="form-label"
                  >Tarea desempeñada</label
                >
                <input
                  type="text"
                  class="form-control form-control-lg"
                  id="descripcionE"
                  name="descripcionE"
                  formControlName="descripcionE"
                  [(ngModel)]="expLab.descripcionE"
                  required
                  [ngClass]="{
                    'is-invalid': submitted && f['descripcionE'].errors,
                    'is-valid': !DescripcionE?.errors && DescripcionE?.touched
                  }"
                />
                <div
                  *ngIf="f['descripcionE'].errors && submitted"
                  class="invalid-feedback"
                >
                  <div
                    *ngIf="DescripcionE?.hasError('required')"
                    class="alert alert-danger"
                  >
                    El dato de tarea es requerido
                  </div>
                  <div
                    *ngIf="DescripcionE?.hasError('minlength')"
                    class="alert alert-danger"
                  >
                    El dato de tarea debe tener al menos cuatro caracteres
                  </div>
                </div>
              </div>

              <div class="form-outline mb-6">
                <label for="inicio" class="form-label">Año de Inicio</label>
                <input
                  type="text"
                  class="form-control form-control-lg"
                  id="inicio"
                  name="inicio"
                  formControlName="inicio"
                  [(ngModel)]="expLab.inicio"
                  required
                  [ngClass]="{
                    'is-invalid': submitted && f['inicio'].errors,
                    'is-valid': !Inicio?.errors && Inicio?.touched
                  }"
                />
                <div
                  *ngIf="f['inicio'].errors && submitted"
                  class="invalid-feedback"
                >
                  <div
                    *ngIf="Inicio?.hasError('required')"
                    class="alert alert-danger"
                  >
                    El año de inicio es requerido
                  </div>
                  <div
                    *ngIf="Inicio?.hasError('min')"
                    class="alert alert-danger"
                  >
                    El año de inicio debe ser mayor a 1900
                  </div>
                  <div
                    *ngIf="Inicio?.hasError('max')"
                    class="alert alert-danger"
                  >
                    El año de inicio debe ser menor a 2024
                  </div>
                </div>
              </div>

              <div class="form-outline mb-6">
                <label for="fin" class="form-label">Año de Finalización</label>
                <input
                  type="text"
                  class="form-control form-control-lg"
                  id="fin"
                  name="fin"
                  formControlName="fin"
                  [(ngModel)]="expLab.fin"
                  required
                  [ngClass]="{
                    'is-invalid': submitted && f['fin'].errors,
                    'is-valid': !Fin?.errors && Fin?.touched
                  }"
                />
                <div
                  *ngIf="f['fin'].errors && submitted"
                  class="invalid-feedback"
                >
                  <div
                    *ngIf="Fin?.hasError('required')"
                    class="alert alert-danger"
                  >
                    El año de finalizacion es requerido
                  </div>
                  <div *ngIf="Fin?.hasError('min')" class="alert alert-danger">
                    El año de finalizacion debe ser mayor a 1900
                  </div>
                  <div *ngIf="Fin?.hasError('max')" class="alert alert-danger">
                    El año de finalizacion debe ser menor a 2024
                  </div>
                </div>
              </div>
              <br />

              <div class="form-outline mb-6">
                <div class="botones">
                  <button type="submit" class="btn btn-primary">
                    Actualizar
                  </button>

                  <button class="btn btn-primary" (click)="onReset()">
                    Limpiar
                  </button>
                </div>
                <!-- btn btn-primary  -->
                <!-- btn btn-secondary -->
              </div>
              <div><br /></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
