.gradient-custom {
  /* fallback for old browsers */
  /* background: #6a11cb; */

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgb(170, 208, 247),
    rgb(77, 140, 248)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgb(170, 208, 247), rgb(77, 140, 248));
}

section {
  width: 99.5%;
}

.row {
  padding: 20px;
  position: relative;
  width: 99%;
  border-radius: 100%;
  box-shadow: 5px 5px 17px 2px rgb(0, 3, 46);
  border-style: solid;
  border-color: #044cb8;
  left: 1.35em;
  border-width: 2px;
  border-radius: 1rem;
  background-color: lightblue;
}
.btn-light {
  --bs-btn-bg: none;
  --bs-btn-border-color: none;
  --bs-btn-color: rgb(0, 53, 142);
  --bs-btn-hover-color: #fa0404;
  --bs-btn-hover-bg: none;
  --bs-btn-hover-border-color: none;
}

.btn-danger {
  --bs-btn-bg: none;
  --bs-btn-border-color: none;
  --bs-btn-color: rgb(0, 53, 142);
  --bs-btn-hover-color: #fa0404;
  --bs-btn-hover-bg: none;
  --bs-btn-hover-border-color: none;
}

.btn-primary {
  --bs-btn-bg: none;
  --bs-btn-border-color: none;
  --bs-btn-color: rgb(0, 53, 142);
  --bs-btn-hover-color: #fa0404;
  --bs-btn-hover-bg: none;
  --bs-btn-hover-border-color: none;
}
.btn {
  --bs-btn-font-size: 1.1rem;
}



td {
  border-style: none;

}

table {
  border-style: none;
}



h2 {
  display: inline;
  color: rgb(0, 53, 142);
}

.encabezado {
  display: flex;
  width: 20%;
}

@media (min-width: 576px) {
  .encabezado {
    display:inline-flex;
    width: 100%;
    justify-content: space-between;
  }

  .icono{
    
    text-align: left;
  }
  .fa-briefcase{
    padding-top: 5px;
    padding-left: 10px;
    font-size:   1.5em;
  }
 

  .btnadd {
    
    /* display: inline-block; */
    position: relative;
    text-align: right;
  }

  h2 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 1em;
  }

   .expNombre {
    width: 50%;
    color: rgb(47, 3, 78);
    font-size: 1.5em;
    padding-top: 5px;
    padding-bottom: 0;
  }

  .expPeriodo {
    color: rgb(47, 3, 78);
    font-size: 1em;
  }

  .expDescripcion {
    width: 90%;
    color: rgb(47, 3, 78);
    font-size: 1em;
  }

  .expEdit {
    padding-top: 0;
    padding-bottom: 0;
    width: 5%;
  }

  .expBorrar {
    padding-top: 0;
    padding-bottom: 0;
    width: 5%;
  }

  .nombreE{
    font-size: 1.2em;
  }

 
}

@media (max-width: 575px) {
 
  .expNombre {
    width: 6rem;
    color: rgb(47, 3, 78);
  }

  .expPeriodo {
    width: 2rem;
    color: rgb(47, 3, 78);
  }

  .separador {
    width: 2rem;
  }
  .expDescripcion {
    width: 13rem;
    height: auto;
    color: rgb(47, 3, 78);
  }

  .expEdit {
    width: 3rem;
  }

  .expBorrar {
    width: 3rem;
  }
}
