<section class="gradient-custom">
<div class="row">
  <div class="encabezado">
    <h2>Hard & Soft skills</h2>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <button
        type="button"
        class="btn btn-primary"
        routerLink="/newskill"
        *ngIf="isLogged"
      >
        <i class="bi bi-plus-lg"></i>
      </button>
    </div>
  </div>
<div class="container">
  <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo"
    *ngFor="let skill of skill" >
    <circle-progress
      [percent]="skill.porcentaje"
      [showUnits]="false"
      [showSubtitle]="false"
      [radius]="70"
      [imageSrc]="''"
      [titleColor]="'#35221d'"
      [title]="skill.nombre" 
      [subtitle]=""
      [showTitle]="true"
      [showImage]="false"
      [imageHeight]="80"
      [imageWidth]="80"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#0d6efd'"
      [innerStrokeColor]="'#FFFFFF'"
      [animation]="true"
      [animationDuration]="450"
    ></circle-progress>
    <div class="botonera">
      <td *ngIf="isLogged">
        <button class="btn btn-light" routerLink="/editskill/{{ skill.id }}">
          <i class="bi bi-pencil-fill"></i>
        </button>
      </td>
      <td *ngIf="isLogged">
        <button class="btn btn-danger" (click)="delete(skill.id)">
          <i class="bi bi-trash-fill"></i>
        </button>
      </td>
    </div>
  </div>
</div>

</div>
</section>
