<section class="gradient-custom">
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 encabezado">
    <div class="icono">
      <h2>Hard & Soft Skills</h2>
      <i class="fa-solid fa-gears" style="color: #044cb8"></i> 
    </div>
    
    
    <div class="btnadd">
      <button
        type="button"
        class="btn btn-primary"
        routerLink="/newskill"
        *ngIf="isLogged" >
        <i class="bi bi-plus-circle"></i>
      </button>
    </div>
  </div>
  <br>
<div class="container">
  <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo"
    *ngFor="let skill of skill" >
    <div class="nombre">
    <p>{{skill.nombre}}</p>
  </div>
    <circle-progress
      [percent]="skill.porcentaje"
      [showUnits]="true"
      [showSubtitle]="false"
      [radius]="70"
      [imageSrc]="''"
      [titleColor]="'#35221d'"
      [title]= ''
      [titleFontSize]="'30'"
      [subtitle]=""
      [showTitle]="true"
      [showImage]="false"
      [imageHeight]="80"
      [imageWidth]="80"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#0d6efd'"
      [innerStrokeColor]="'#FFFFFF'"
      [animation]="true"
      [animationDuration]="450"
    ></circle-progress>
    <div class="botonera">
      <td *ngIf="isLogged">
        <button class="btn btn-light" routerLink="/editskill/{{ skill.id }}">
          <i class="bi bi-pencil-fill"></i>
        </button>
      </td>
      <td *ngIf="isLogged">
        <button class="btn btn-danger" (click)="delete(skill.id)">
          <i class="bi bi-trash-fill"></i>
        </button>
      </td>
    </div>
    <br><br>
  </div>
</div>

</div>
</section>
