<div class="container py-3 h-100" >
    <div class="row d-flex justify-content-center align-items-center h-80">
      <div class="col-12 col-md-8 col-lg-8 col-xl-6">
        <div class="card bg-primary text-white" style="border-radius: 1rem">
          <div class="card-header">
            <h3>Nueva Experiencia</h3>
            <button type="submit" class="btn btn-close-white" (click)="onClose()"  >
              <i class="bi bi-x-lg"></i>
            </button>
          </div>
          <div class="card-block p-2 text-center">
            <form  [formGroup]="form" (ngSubmit)="onCreate($event)">
                <div>
                <div class="form-outline mb-6">
                    <label for="nombre" class="form-label">Nombre de Skill</label>
                    <input type="text" class="form-control form-control-lg" id="nombre" name="nombre"
                    required formControlName="nombre"
                    [ngClass]="{
                        'is-invalid': submitted && f['nombre'].errors,
                        'is-valid': !Nombre?.errors && Nombre?.touched
                      }"
                    />
                    <div
                    *ngIf="f['nombre'].errors && submitted"
                    class="invalid-feedback"
                  >
                  
                    <div
                      *ngIf="f['nombre'].errors['required']"
                      class="alert alert-danger"
                    >
                      El nombre es requerido
                    </div>
                    
                  </div>
                </div>


                <div class="form-outline mb-6">
                    <label for="porcentaje" class="form-label">Porcentaje</label>
                    <input
                      type="text"
                      class="form-control form-control-lg"
                      id="porcentaje"
                      name="porcentaje"
                      formControlName="porcentaje"
                      
                      required
                      [ngClass]="{
                        'is-invalid': submitted && f['porcentaje'].errors,
                        'is-valid': !Porcentaje?.errors && Porcentaje?.touched
                      }"
                    />
                    <div
                      *ngIf="f['porcentaje'].errors && submitted"
                      class="invalid-feedback"
                    >
                     <div
                        *ngIf="Porcentaje?.hasError('required')"
                        class="alert alert-danger"
                      >
                        El porcentaje es requerido
                      </div>
                      <div
                        *ngIf="Porcentaje?.hasError('min')"
                        class="alert alert-danger"
                      >
                        El porcentaje debe ser mayor o igual a 0
                      </div>
                      <div
                        *ngIf="Porcentaje?.hasError('max')"
                        class="alert alert-danger"
                      >
                        El porcentaje debe ser menor o igual a 100
                      </div>
                    </div>
                  </div>

                  <br>
                  <div class="form-outline mb-6">
                    <div class="botones">
                      <button type="submit" class="btn btn-primary">
                        Agregar
                      </button>
    
                      <button class="btn btn-primary" (click)="onReset()">
                        Limpiar
                      </button>
                    </div>
                    
                  </div>
                  <div><br /></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    


