.gradient-custom {
  /* fallback for old browsers */
  /* background: #6a11cb; */

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgb(170, 208, 247),
    rgb(77, 140, 248)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgb(170, 208, 247), rgb(77, 140, 248));
}
section{
  /* border-color: rgb(192, 223, 13);
  border-style:solid;   */
  width: 99.5%;
}

td{
  border:none;
}

table{
  margin-left: 2px;
  
}

.row2{
  position:relative;
  width: 99%;
  border-radius: 100%;
  box-shadow: 5px 5px 17px 2px rgb(0, 3, 46);
  border-style:solid;
  border-color: #044cb8;
  left: .5em;
  border-width:2px;
  border-radius: 1rem;
  background-color: lightblue;
}
.btn-light {
  --bs-btn-bg: none;
  --bs-btn-border-color:none;
  --bs-btn-color:rgb(0,53,142);
  --bs-btn-hover-color: #fa0404;
  --bs-btn-hover-bg: none;
  --bs-btn-hover-border-color: none;
}

.btn{
  --bs-btn-font-size: 1.1rem;
}

p {
    color: rgb(47, 3, 78);
  }
  
  .datospersona {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
  
  div {
    /* background-color:rgb(170, 208, 247); */
    /*background-color: rgb(198, 213, 228);*/
    text-align: center;
  }
  .row {
    position:relative;
    width: 99%;
   
  }
  .foto {
    /* position: relative;*/
    margin-top: -6%;
    margin-left: 7%;
  }
  
  h2,
  h3 {
    display: inline;
    /* color: #0459da; */
    color: rgb(0, 53, 142);
    
  }
  
  .encabezado {
    display: flex;
    margin-left: 22px;
  }
  .acercademi {
    padding: 10px;
  }

  #nombre {
    font-weight: normal;
    color: #0704da;
  }
  
  #titulo {
    font-weight: normal;
    color: rgb(47, 3, 78);
  }
  
  .mail {
    color: rgb(47, 3, 78);
  }
  a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
  
  

@media (min-width: 576px) {

  h2,h3{
    font-size: 1.8em;
  }

  #fotodeperfil {
    /*position: absolute;*/
    width: 100%;
    border-radius: 100%;
    box-shadow: 5px 5px 5px rgb(94, 93, 93);
    /*left: 3%;
         top: -60px;*/
  }
  .descripcion {
    position: relative;
    width: 85%;
    background-color:lightblue;
    border-style:none;
    border-color: #044cb8;
    left: 4rem;
    border-width:thin;
    border-radius: 1rem;
    text-align: justify;
   
  }
  .separador2 {
    width:10%;
  }

  .nombreyapellido {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* color: #0410b8; */
  }

  .botoneditarAcerca {
    position: relative;
     left: 1.3rem; 
    width:1%;
    
  }
  .botoneditarNombre {
    text-align: left;
    margin-left: 5px;
  }

  .icono{
    padding-top: 5px;
    padding-left: 10px;
    font-size:   1.5em;
  }
}
@media (max-width: 575px) {
  #fotodeperfil {
    position: relative;
    width: auto;
    border-radius: 100%;
    box-shadow: 5px 5px 5px grey;
    /*left: 3%;
         top: -40px; */
  }
  .botoneditarAcerca {
    padding: 45px;
    text-align: right;
  }
  .botoneditarNombre {
    /*padding: 45px;
        text-align: center;*/
    visibility: visible;
  }
  .descripcion {
    width:50%;
    display: flex;

    align-items: flex-start;
    background-color: lightcyan;
    border-style: none;
    border-color: #044cb8;
    left: 5rem;
    border-width: thick;
    border-radius: 1rem;
    color: rgb(47, 3, 78);
  }
}
