<div class="container py-3 h-100" *ngIf="persona">
  <div class="row d-flex justify-content-center align-items-center h-80">
    <div class="col-12 col-md-8 col-lg-8 col-xl-6">
      <div class="card bg-primary text-white" style="border-radius: 1rem">
        <div class="card-header">
          <h3>Editar Persona</h3>
          <button type="submit" class="btn btn-close-white" (click)="onClose()"  >
            <i class="bi bi-x-lg"></i>
          </button>
        </div>
        <!-- <div class="card-body p-5 text-center"> 
            <div class="mb-md-5 mt-md-4 pb-4">  -->
        <div class="card-block p-2 text-center">
          <form [formGroup]="form" (ngSubmit)="onUpdate($event)">
            <div>
              <div class="form-outline mb-6">
                <label for="nombre" class="form-label">Nombre</label>
                <input
                  type="text"
                  class="form-control form-control-lg"
                  id="nombre"
                  name="nombre"
                  required
                  formControlName="nombre"
                  [(ngModel)]="persona.nombre"
                  [ngClass]="{
                    'is-invalid': submitted && f['nombre'].errors,
                    'is-valid': !Nombre?.errors && Nombre?.touched
                  }"
                />
                <div
                  *ngIf="f['nombre'].errors && submitted"
                  class="invalid-feedback"
                >
                  <!-- <div *ngIf="Nombre?.errors && Nombre?.touched"> -->
                  <div
                    *ngIf="f['nombre'].errors['required']"
                    class="alert alert-danger"
                  >
                    El nombre es requerido
                  </div>
                  <div
                    *ngIf="Nombre?.hasError('minlength')"
                    class="alert alert-danger"
                  >
                    El nombre debe tener al menos dos caracteres
                  </div>
                </div>
              </div>
              <div class="form-outline mb-6">
                <label for="apellido" class="form-label">Apellido</label>
                <input
                  type="text"
                  class="form-control form-control-lg"
                  id="apellido"
                  name="apellido"
                  formControlName="apellido"
                  [(ngModel)]="persona.apellido"
                  required
                  [ngClass]="{
                    'is-invalid': submitted && f['apellido'].errors,
                    'is-valid': !Apellido?.errors && Apellido?.touched
                  }"
                />
                <div
                  *ngIf="f['apellido'].errors && submitted"
                  class="invalid-feedback"
                >
                  <!-- <div *ngIf="Apellido?.errors && Apellido?.touched"> -->
                  <div
                    *ngIf="Apellido?.hasError('required')"
                    class="alert alert-danger"
                  >
                    El apellido es requerido
                  </div>
                  <div
                    *ngIf="Apellido?.hasError('minlength')"
                    class="alert alert-danger"
                  >
                    El apellido debe tener al menos dos caracteres
                  </div>
                </div>
              </div>
              <div class="form-outline mb-6">
                <label for="email" class="form-label">Informacion de contacto (email)</label>
                <input
                  type="text"
                  class="form-control form-control-lg"
                  id="email"
                  name="email"
                  formControlName="email"
                  [(ngModel)]="persona.email"
                  required
                  [ngClass]="{
                    'is-invalid': submitted && f['email'].errors,
                    'is-valid': !Email?.errors && Email?.touched
                  }"
                />
                <div
                  *ngIf="f['email'].errors && submitted"
                  class="invalid-feedback"
                >                  
                  <div
                    *ngIf="Email?.hasError('required')"
                    class="alert alert-danger"
                  >
                    La informacion de contacto es requerido
                  </div>
                  <div *ngIf="f['email'].errors['email']"  class="alert alert-danger">
                    El campo debe tener una direccion de email
                  </div>
                </div>
              </div>
              <div class="form-outline mb-6">
                <label for="descripcion" class="form-label">Acerca de mi</label>
                <!-- <input type="text" class="form-control" id="descripcion" name="descripcion" formControlName="descripcion" [(ngModel)]="persona.descripcion" required [class.p]="descripcionInvalido"> -->
                <input
                  type="text"
                  class="form-control form-control-lg"
                  id="descripcion"
                  name="descripcion"
                  formControlName="descripcion"
                  [(ngModel)]="persona.descripcion"
                  required
                  [ngClass]="{
                    'is-invalid': submitted && f['descripcion'].errors,
                    'is-valid': !Descripcion?.errors && Descripcion?.touched
                  }"
                />

                <!-- <div *ngIf="Descripcion?.errors && Descripcion?.touched"> -->
                <div
                  *ngIf="f['descripcion'].errors && submitted"
                  class="invalid-feedback"
                >
                  <div
                    *ngIf="Descripcion?.hasError('required')"
                    class="alert alert-danger"
                  >
                    El dato es requerido
                  </div>
                  <div
                    *ngIf="Descripcion?.hasError('maxlength')"
                    class="alert alert-danger"
                  >
                    Este campo debe tener como máximo 255 caracteres
                  </div>
                </div>
              </div>
              <div class="form-outline mb-6">
                <label for="url_foto" class="form-label"
                  >Imagen de perfil</label
                >
                <input
                  type="file"
                  class="form-control form-control-lg"
                  id="url_foto"
                  name="url_foto"
                  formControlName="url_foto"
                  (change)="uploadImage($event)"
                  accept=".jpg, .jpeg, .png"
                  required
                  [ngClass]="{
                    'is-invalid': submitted && f['url_foto'].errors,
                    'is-valid': submitted && !f['url_foto'].errors
                  }"
                />

                <div
                  *ngIf="f['url_foto'].errors && submitted"
                  class="invalid-feedback"
                >
                  <!-- <div *ngIf="Url_foto?.touched" class="alert alert-danger">
                            La url es requerida
                        </div> -->
                  <div
                    *ngIf="f['url_foto'].errors['required']"
                    class="alert alert-danger"
                  >
                    Los formatos para la imagen son JPG,JPEG y PNG
                  </div>
                </div>
              </div>

              <br />
              <div class="form-outline mb-6">
                <div class="botones">
                  <button type="submit" class="btn btn-primary">
                    Actualizar
                  </button>

                  <button class="btn btn-primary" (click)="onReset()">
                    Limpiar
                  </button>
                </div>
                <!-- btn btn-primary  -->
                <!-- btn btn-secondary -->
              </div>
              <div><br /></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
